<div id="tiles">
  <div class="tile photo mobile-1">
    <div style="padding-bottom: {{ 100 | divided_by: section.settings.image_1.aspect_ratio }}%">
      {% include 'responsive_image', image: section.settings.image_1 , sizes: '(min-width: 750) 50vw, 100vw'%}
    </div>
  </div>
  <div id="our-story" class="tile text mobile-4">
    <h3>Our Story</h3>
    <div>
      Straw woven by hand in Colombia, an ancient technique passed down from mother to daughter. Impossibly lightweight wooden box frames developed by a master carpenter. The finest Italian hardware handmade in Florence. Each element in a Hunting Season piece is considered, sourced from far-flung locales and artisans with distinct specialties honed over generations, and brought together by hand in Colombia.
    </div>
  </div>
  <div class="tile photo mobile-5">
    <div style="padding-bottom: {{ 100 | divided_by: section.settings.image_2.aspect_ratio }}%">
      {% include 'responsive_image', image: section.settings.image_2 , sizes: '(min-width: 750) 50vw, 100vw'%}
    </div>
  </div>
  <div class="break small--hide"></div>
  <div class="tile text tagline mobile-2">
    <h2>Seek and you shall find</h2>
  </div>
  <div class="tile photo mobile-3" >
    <div style="padding-bottom: {{ 100 | divided_by: section.settings.image_3.aspect_ratio }}%">
      {% include 'responsive_image', image: section.settings.image_3 , sizes: '(min-width: 750) 50vw, 100vw'%}
    </div>
  </div>
  <div id="our-founder" class="tile text mobile-5">
    <h3>Our Founder</h3>
    <div>
      Hunting Season was established in 2006 by Danielle Corona. With a clear design aesthetic and uncompromising sense of style, Danielle sources the finest materials and works directly with skilled Colombian artisans to carefully craft each Hunting Season collection.
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image Tiles",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Image 3"
    }
  ]
}

{% endschema %}